.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .editor-header,
  .editor-footer {
    background-color: white;
    flex-shrink: 0;
    color: black;
  }

  .editor-footer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    .title {
      display: flex;
      gap: 0.8rem;
      font-size: 1.1rem;
      font-weight: bold;
      .label {
        position: relative;
        bottom: 5px;
      }
      .icons {
        position: relative;
        bottom: -4px;
        right: 10px;
      }
    }
    button {
      padding: 0.6rem;
      border-radius: 1.1rem;
      border: none;
      background-color: aqua;
      color: black;
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .editor-header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    .header-left {
      display: flex;
      align-items: center;
      gap: 1rem;
      .title {
        display: flex;
        gap: 1rem;
        font-size: 1.4rem;
        font-weight: bold;
      }
      button {
        padding: 0.6rem;
        border-radius: 1.1rem;
        border: none;
        background-color: aqua;
        color: black;
        font-weight: bold;
        font-size: 0.9rem;
      }
    }
    .header-right {
      display: flex;
      gap: 1rem;
      .dropdown-container {
        position: relative;
        display: inline-block;

        .dropdown {
          width: 7.5rem;
          padding: 0.5rem;
          color: black;
          font-size: 1rem;
          border: 2px solid #4a90e2;
          border-radius: 4px;
          appearance: none;
          background-color: white;
          background-image: url('data:image/svg+xml;utf8,<svg fill="%234a90e2" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
          background-repeat: no-repeat;
          background-position: right 10px center;
          background-size: 0.7rem;
          cursor: pointer;

          &:focus {
            border-color: #4a90e2;
            outline: none;
          }
        }
        .dropdown option {
          padding: 12px;
          font-size: 16px;
        }
      }
    }
  }
  .editor-body {
    flex-grow: 1;
    background-color: white;
  }
}
