.playground-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .container-header {
    align-self: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 2px;
    img {
      width: 4rem;
    }
    b {
      font-size: 30px;
    }
  }

  .container-body {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 3fr 2fr;
    overflow: hidden;

    .editor {
      grid-row: 1/3;
      height: 100%;
      overflow: hidden;
    }

    .input,
    .output {
      display: flex;
      flex-direction: column;
      background-color: rgb(237, 237, 237);
      color: black;
      overflow: hidden;

      textarea {
        flex-grow: 1;
        font-size: 1rem;
        background-color: white;
        color: black;
        padding: 5px;
        resize: none;
        border: none;
        overflow-y: auto;
      }

      textarea:focus {
        outline: none;
      }

      .input-header {
        display: flex;
        justify-content: space-between;
        padding: 0.8rem;
        align-items: center;

        b {
          font-size: 1.3rem;
          font-weight: bold;
        }

        .title {
          font-size: 1.1rem;
          font-weight: 500;
        }

        .icons {
          position: relative;
          bottom: -4px;
          right: 10px;
        }

        button {
          border: none;
          background-color: rgb(237, 237, 237);
          color: black;
          cursor: pointer;
        }
      }
    }
  }
  .loader-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
      width: 100px;
      height: 100px;
      background-color: transparent;
      border: 10px solid rgba(255, 0, 0, 0.332);
      border-left-color: red;
      border-radius: 50%;
      animation: 0.8s loader infinite linear;
    }
  }
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
